/* CSS styling for the Contact page */
:root {
	--color-text: #e1e1e1;
	--color-secondary-gray: #1c1c1c;
}

.formContainer {
	width: 65vw;
	margin: 10vh auto 5vh;
}

@media screen and (max-width: 900px) {
	.formContainer {
		width: 80vw;
		margin: 1vh auto;
	}

	form h3 {
		font-size: 26px;
	}

	textarea {
		height: 15rem;
	}
}

form h3 {
	text-align: center;
	font-family: "Saira";
	font-size: 30px;
	color: var(--color-text);
}

form {
	background: var(--color-secondary-gray);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 2vw 4vw;
	width: 90%;
}

form button {
	font-family: "Saira";
	width: auto;
	padding: 15px;
	background: #ff5361;
	color: #ffff;
	font-size: 20px;
	border: 0;
	outline: none;
	cursor: pointer;
	/* margin 20px on top, auto left/right, 0 bottom */
	margin: 20px auto 0;
	border-radius: 5px;
}

label,
p {
	font-family: "Saira";
	font-size: 16px;
	color: var(--color-text);
}

p {
	font-size: 18px;
	margin-top: unset;
	text-align: center;
	align-self: center;
}

form button:active {
	background: #fc2e3f;
}

form input,
form textarea {
	font-family: "Saira";
	padding-left: auto;
	padding-right: auto;
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16px;
	border-radius: 5px;
}

textarea {
	height: 17rem;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(19, 19, 19, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(128, 128, 128);
}
